In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import normalize
import os
import import_ipynb
import dataprep as prep
home_dir = os.getcwd()

importing Jupyter notebook from dataprep.ipynb

In [35]:
train_data = pd.read_csv(home_dir + '/scania/training_set_new.csv')
test_data = pd.read_csv(home_dir + '/scania/test_set_new.csv') 
live_data = pd.read_csv(home_dir + '/scania/live_training_set.csv')

In [17]:
train_data.head(5)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,32214,na,0,na,0,0,0,0,0,...,274482,154994,427264,470402,118670,43812,21268,0,0,0
1,neg,344,0,2130706432,44,0,0,0,0,0,...,3842,564,1046,942,1744,5980,34,0,0,0
2,neg,6,0,2,2,0,0,0,0,0,...,42,22,102,4,0,0,0,0,0,0
3,neg,38,0,68,66,0,0,0,0,0,...,476,72,110,0,0,0,0,0,0,0
4,neg,680,0,14,na,0,0,0,0,0,...,2306,1384,2388,1466,2444,18560,4,0,0,0

In [16]:
data_arrays = pd.concat([train_data, test_data, live_data])

In [18]:
dataset = pd.DataFrame(data_arrays)

In [ ]:
dataset.head(5)

In [19]:
y_data, x_data = prep.prepare(dataset)
x_data.head(5)

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,32214,0,0,0,0,0,0,0,0,0,...,274482,154994,427264,470402,118670,43812,21268,0,0,0
1,344,0,2130706432,44,0,0,0,0,0,8124,...,3842,564,1046,942,1744,5980,34,0,0,0
2,6,0,2,2,0,0,0,0,0,0,...,42,22,102,4,0,0,0,0,0,0
3,38,0,68,66,0,0,0,0,0,318,...,476,72,110,0,0,0,0,0,0,0
4,680,0,14,0,0,0,0,0,0,1032,...,2306,1384,2388,1466,2444,18560,4,0,0,0

In [9]:
x_data = pd.DataFrame(normalize(x_data))
x_data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
0,3.615349e-03,0.0,0.000000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.030805,1.739484e-02,4.795147e-02,5.279281e-02,1.331823e-02,0.004917,2.386889e-03,0.0,0.0,0.0
1,1.614488e-07,0.0,1.000000,2.065042e-08,0.0,0.0,0.0,0.0,0.0,0.000004,...,0.000002,2.647009e-07,4.909169e-07,4.421068e-07,8.185077e-07,0.000003,1.595715e-08,0.0,0.0,0.0
2,4.955494e-06,0.0,0.000002,1.651831e-06,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000035,1.817014e-05,8.424340e-05,3.303663e-06,0.000000e+00,0.000000,0.000000e+00,0.0,0.0,0.0
3,3.129575e-05,0.0,0.000056,5.435577e-05,0.0,0.0,0.0,0.0,0.0,0.000262,...,0.000392,5.929720e-05,9.059295e-05,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.0,0.0,0.0
4,5.442549e-04,0.0,0.000011,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000826,...,0.001846,1.107719e-03,1.911295e-03,1.173350e-03,1.956116e-03,0.014855,3.201500e-06,0.0,0.0,0.0

In [26]:
train_data = prep.preprocess_data(train_data)
train_data =  pd.DataFrame(normalize(train_data))
train_data = train_data.rename(columns={0: 'class'})
(pd.DataFrame(train_data)).to_csv("training_set")

In [36]:
test_data = prep.preprocess_data(test_data)
test_data = test_data.rename(columns={0: 'class'})
(pd.DataFrame(test_data)).to_csv("test_set", index=False)

In [22]:
live_data = prep.preprocess_data(live_data)
live_data = normalize(live_data)
(pd.DataFrame(live_data)).to_csv("live_set")

## Create datasets with different sampling methods

#### to study later how this new balance affects classification

In [ ]:
data_with_undersampling_x, data_with_undersampling_y = prep.undersample(x_data, y_data)

In [ ]:
data_with_oversampling_x, data_with_oversampling_y = prep.oversample(x_data, y_data)

In [ ]:
data_with_combinedsampling_x,data_with_combinedsampling_y  = prep.combine_samplings(x_data, y_data)

In [ ]:
undersampled_set = np.column_stack((data_with_undersampling_y, data_with_undersampling_x ))
undersampled_set = pd.DataFrame(undersampled_set)
undersampled_set = undersampled_set.rename(columns={0: 'class'})
undersampled_set.to_csv("undersampled_dataset")
undersampled_set.head(5)

In [ ]:
undersampl = pd.read_csv(home_dir + '/undersampled_dataset', index_col=[0])
undersampl.head(5)

In [ ]:
oversampled_set = np.column_stack((data_with_oversampling_y, data_with_oversampling_x))
oversampled_set = pd.DataFrame(oversampled_set)
oversampled_set = oversampled_set.rename(columns={0: 'class'})
oversampled_set.to_csv("oversampled_dataset")
oversampled_set.head(5)

In [ ]:
combisampled_set = np.column_stack((data_with_combinedsampling_y, data_with_combinedsampling_x ))
combisampled_set = pd.DataFrame(combisampled_set)
combisampled_set = combisampled_set.rename(columns={0: 'class'})
combisampled_set.to_csv("combisampled_dataset")
combisampled_set.head(5)